@font-face {
    font-family: 'Segoe UI Light';
    src: url('/surface/Assets/css/fonts/all/light/segoeuil.eot');
    src: url('/surface/Assets/css/fonts/all/light/segoeuil.eot?#iefix') format('embedded-opentype'),
         url('/surface/Assets/css/fonts/all/light/segoeuil.woff') format('woff'),
         url('/surface/Assets/css/fonts/all/light/segoeuil.svg#SegoeUILight') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3,p{
    
    margin:0;
    
}

h1,h2{
    
    font-family: Segoe UI Light;
    font-size:48px;
    color:#A9D18E;
    
    padding-bottom:10px;
    padding-top:50px;
    
}
h1{
    
    text-align:center;
    padding-bottom:10px;
    padding-top:0px;
    
    
}
h2{
    
    padding-bottom:25px;
    
}

h3{
    
    font-family: Segoe UI Light;
    padding-bottom:20px;
    font-size:25px;
    
}

h1,.descri-pagina{
    
    position:relative;
    width:700px;
    left:50%;
    margin-left:-400px;
    
}
.descri-pagina{

    margin-bottom:20px;
    
}
.descri{
    
    font-size:22px;
    
}