#conteudo-index{
    
    margin-top:65px;
    
}

.slide,.slide-direita{
    
    width:100%;
    height:350px;
    padding-top:100px;
    padding-bottom:50px;
    
}

.slide p,.slide h2,.slide-direita p,.slide-direita h2{
    
    margin:0;
    
}

.slide-content,.slide-direita img{
    
    position:absolute;
    left:50%;
    
    width:400px;
    margin-top:30px;
    margin-left:-500px;
    
}

.slide img,.slide-direita img,.slide-direita .slide-content{
    
    position:absolute;
    left:50%;
    margin-top:110px;
    margin-left:0px;
    
    height:150px;
    
    border-radius:27px;
    
}
    
.slide-direita img{
    
    margin-left:-500px;
    
    height:150px;
    
    
}

.slide-direita .slide-content{
    
    position:absolute;
    left:50%;
    margin-left:0px;
    margin-top:40px;
    
    border-radius:27px;
   
    height:150px;
    width:400px;
    
}
